.header{
    display: block;
    white-space: nowrap;
    height: 51px;
    background-color: #f3f3f3;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.top-header__logo{
    margin: 7px 0 0px -184px;
    width: 110px;
}

.header__navbar-list{
    list-style: none;
    display: flex;
}

.header__navbar-item{
    display: inline-block;
}

.header-icoin-bell{
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    background-color: #f8f8f8;
    color: #c4bab6;
    font-size: 19px;
    border: 1px solid #bfbfbf;
}

.header__navbar-label{
    color: #bfbfbf;
    padding-left: 29px;
    font-size: 10px;
    font-weight: 700;
}

.header__navbar-toggle{
    display: inline-block;
    margin: 20px -46px ;
    max-width: 97%;
    color: #555;
    font-size: 14px;
}

/* left */
.img_vietnam{
    width: 16px;
    height: 11px;
    background: url(./img/flags.png) no-repeat;
    display: flex;
    margin-left: -27px
}

.vietnam{
    margin-right: 2px;
    font-size: 13px;
    max-width: 150px;
    overflow: hidden;
    margin-top: -11px;
    color: #3276b1;
}
.header-icoin-arrows{
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    background-color: #f8f8f8;
    color: #6D6A69;
    font-size: 19px;
    border: 1px solid #bfbfbf;
}

.header__navbar-item{
    margin: 0 8px;
    display: flex;
}
/* search */
.header__search-input{
    display: block;
    box-sizing: border-box;
    min-width: 200px;
    width: 100%;
    height: 24px;
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #bfbfbf;
    background: #fff;
    color: #404040;
    position: relative;
}

.header__search-btn-icon{
    border: none;
    color: #6D6A69;
    font-size: 17px;
    
    line-height: 30px;
    background-color: transparent;
    
}
.header__search-btn{
    position: absolute;
    margin: -20px 168px;
    border: none;
    background: transparent;
}
.header-icoin-sign{
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    background-color: #f8f8f8;
    color: #6D6A69;
    font-size: 19px;
    border: 1px solid #bfbfbf;
}
.header-icoin-reorder{
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    background-color: #f8f8f8;
    color: #6D6A69;
    font-size: 19px;
    border: 1px solid #bfbfbf;
}
/* Hover */
.header-icoin-reorder:hover,
.header-icoin-sign:hover,
.header-icoin-arrows:hover,
.header-icoin-bell:hover,
.vietnam:hover{
    color: #333;
    cursor: pointer;
}

.header__navbar-list-right{
    margin: 13px -170px;
}

/* Login */
.login{
    display: block;
    font-size: 12px;
    height: 39px;
    color: #fff;
    border: solid transparent;
    border-width:1px 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    width: 100%;
    margin: 0!important;
    border-bottom: 1px solid #525151;

}
/* .login-info{
    height: 38px;
    display: block;
    padding: 0 10px;
    border-bottom: 1px solid #1A1817;
}

.Name{
    font-size: 14px;
    display: inline-block;
    max-width: 150px;
    vertical-align: middle;
    color: #c0bbb7;
}
.ng-star-inserted{
    background-color: rgb(58, 54, 51);
} */
.online{
    border-left-color: #40ac2b!important;
    border-left: 3px solid #fff;
    width: 25px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    margin-right: 5px;
}
.category__heading{
    display: block;
    font-size: 12px;
    height: 39px;
    
    border: solid transparent;
    border-width: 12px 0;
    /* box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07); */
    width: 220px;
    margin: 0!important;
    border-bottom: 1px solid #525151;
    background-color: rgb(58, 54, 51);
}
.name{
    color: rgb(209, 209, 209);
    text-decoration: none;
}
.category-item__link{
    text-decoration: none;
    line-height: normal;
    font-size: 14px;
    color: #c0bbb7;
    font-weight: 400;
}

.category-list{
    list-style: none;
    background-color: rgb(58, 54, 51);
    width: 220px;
    height: 349px;
    margin-top: 0px;
}

