.app{
    background-color: rgb(240, 240, 240);
}

.header{
    display: block;
    white-space: nowrap;
    height: 51px;
    background-color: #f3f3f3;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.top-header__logo{
    margin: 7px 0 0px -184px;
    width: 110px;
}

.header__navbar-list{
    list-style: none;
    display: flex;
}

.header__navbar-item{
    display: inline-block;
}

.header-icoin-bell{
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    background-color: #f8f8f8;
    color: #c4bab6;
    font-size: 19px;
    border: 1px solid #bfbfbf;
}

.header__navbar-label{
    color: #bfbfbf;
    padding-left: 29px;
    font-size: 10px;
    font-weight: 700;
}

.header__navbar-toggle{
    display: inline-block;
    margin: 20px -46px ;
    max-width: 97%;
    color: #555;
    font-size: 14px;
}

/* left */
.img_vietnam{
    width: 16px;
    height: 11px;
    background: url(./img/flags.png) no-repeat;
    display: flex;
    margin-left: -27px
}

.vietnam{
    margin-right: 2px;
    font-size: 13px;
    max-width: 150px;
    overflow: hidden;
    margin-top: -11px;
    color: #3276b1;
}
.header-icoin-arrows{
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    background-color: #f8f8f8;
    color: #6D6A69;
    font-size: 19px;
    border: 1px solid #bfbfbf;
}

.header__navbar-item{
    margin: 0 8px;
    display: flex;
}
/* search */
.header__search-input{
    display: block;
    box-sizing: border-box;
    min-width: 200px;
    width: 100%;
    height: 24px;
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #bfbfbf;
    background: #fff;
    color: #404040;
    position: relative;
}

.header__search-btn-icon{
    border: none;
    color: #6D6A69;
    font-size: 17px;
    
    line-height: 30px;
    background-color: transparent;
    
}
.header__search-btn{
    position: absolute;
    margin: -20px 168px;
    border: none;
    background: transparent;
}
.header-icoin-sign{
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    background-color: #f8f8f8;
    color: #6D6A69;
    font-size: 19px;
    border: 1px solid #bfbfbf;
}
.header-icoin-reorder{
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    background-color: #f8f8f8;
    color: #6D6A69;
    font-size: 19px;
    border: 1px solid #bfbfbf;
}
/* Hover */
.header-icoin-reorder:hover,
.header-icoin-sign:hover,
.header-icoin-arrows:hover,
.header-icoin-bell:hover,
.vietnam:hover{
    color: #333;
    cursor: pointer;
}

.header__navbar-list-right{
    margin: 13px -170px;
}

/* Login */
.login{
    display: block;
    font-size: 12px;
    height: 39px;
    color: #fff;
    border: solid transparent;
    border-width:1px 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    width: 100%;
    margin: 0!important;
    border-bottom: 1px solid #525151;

}
/* .login-info{
    height: 38px;
    display: block;
    padding: 0 10px;
    border-bottom: 1px solid #1A1817;
}

.Name{
    font-size: 14px;
    display: inline-block;
    max-width: 150px;
    vertical-align: middle;
    color: #c0bbb7;
}
.ng-star-inserted{
    background-color: rgb(58, 54, 51);
} */
.online{
    border-left-color: #40ac2b!important;
    border-left: 3px solid #fff;
    width: 25px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    margin-right: 5px;
}
.category__heading{
    display: block;
    font-size: 12px;
    height: 39px;
    
    border: solid transparent;
    border-width: 12px 0;
    /* box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07); */
    width: 220px;
    margin: 0!important;
    border-bottom: 1px solid #525151;
    background-color: rgb(58, 54, 51);
}
.name{
    color: rgb(209, 209, 209);
    text-decoration: none;
}
.category-item__link{
    text-decoration: none;
    line-height: normal;
    font-size: 14px;
    color: #c0bbb7;
    font-weight: 400;
}

.category-list{
    list-style: none;
    background-color: rgb(58, 54, 51);
    width: 220px;
    height: 650px;
    margin-top: 0px;
}
.icon-home{
    color: #c0bbb7;
}
.icon-user{
    color:  #c0bbb7;
}
.category-item--active{
    font-size: 14px;
    padding: 12px;
    margin-left: -44px;
}

.category-item--user{
    position: relative;
    font-size: 14px;
    padding: 12px;
    margin-left: -50px;
}

.category-item--user::after{
    padding-left: 93px;
    top: 0;
    left: 0;
    content: "";
    border: 4px solid;
    border-color: transparent #c0bbb7 transparent transparent;
}

.name:hover,
.online:hover,
.category-item__link:hover{
    color: #f8f8f8;
}
/* Home navbar*/
.home-filter{
    margin-left: -37px;
    height: 42px;
    width: 1298px;
    background-color: #474544;
}

.home-filter__label{
    
    color: #BBB;
    line-height: 4.2rem;
    font-weight: 41px;
    font-size: 16px;
    padding: 38px;
}


.demo-setting{
    padding-left: 1097px;
}

.demo-cog{
    
    height: 22px;
   
    border-radius: 5px 0 0 5px;
    background: #F1DA91;
    padding: 6px;
    text-align: center;
    line-height: 28px;
}

/* colum-1 */
.col__custom-avatar{
    width: 150px;
}
.img-responsive{
    width: 150px;
    margin: 30px
}
.inner-class{
    
    width: 1277px;
    padding: 19px;
    min-height: 209px;
    margin: 65px -274px;
}
.row-well{
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    height: 220px;
    
}
.custom-info{
    position: absolute;
    list-style: none;
    margin: -188px 151px;
}

.font-weight-bold{
    font-weight: 700;
}
.custon-info-weight{
    margin: 3px;
    font-size: 1.4rem;
}

/* Content */
.mb-2-star-inserted{
    font-weight: 3.2;
}
.color-level-1{
    color: #d686864d;
}

.icon-check{
    color: #6c757d;
    padding: 25px;
    font-size: 32px;
  
}

.card{
    color: #17A2B8;
    background-color: white;
}
.studen{
    min-height: 61px;
}
.dowload{
    padding: 68px;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#move__icon{
    font-size: 3rem;
    margin-left: 424px;
}